@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.future-weather__temp::after, .hour__temp::after {
  white-space: pre-wrap;
  content: "\00B0";
}

.current-weather__low::before, .current-weather__low::after, .week__low::after, .current-weather__high::after {
  white-space: pre-wrap;
}

.nav__dropnav, .main__future-weather > * {
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: clamp(2.6rem, 8vw, 3.2rem);
  font-weight: 500;
}

h3 {
  font-size: clamp(1.8rem, 6vw, 2.2rem);
  font-weight: 500;
}

p {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 300;
}

.wrapper {
  padding: 2.5rem;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide, .nav-hide {
  display: none;
}

header {
  height: 5vh;
}

.nav__headnav {
  position: relative;
}

.nav__dropnav {
  background: rgba(53, 49, 49, 0.4);
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.headnav__divider {
  position: absolute;
  right: 0;
  top: 0;
}

.headnav__icon--menu {
  z-index: 2;
}

.dropnav__logo {
  width: clamp(9rem, 20vw, 11rem);
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: auto;
}

.dropnav__search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 7rem;
}

.dropnav__unit-toggle {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: auto;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(32rem, 1fr);
      grid-template-columns: minmax(32rem, 1fr);
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: (minmax(75rem, 95vh))[2];
      grid-template-rows: repeat(2, minmax(75rem, 95vh));
}

.main > * {
  display: -ms-grid;
  display: grid;
  height: 95vh;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

.main__current-weather {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr 40rem 0.6fr 0.6fr;
      grid-template-rows: 1fr 40rem 0.6fr 0.6fr;
      grid-template-areas: 'simple' 'poke' 'extra' 'next';
}

.main__future-weather {
  -ms-grid-rows: (minmax(24rem, 30vh))[3];
      grid-template-rows: repeat(3, minmax(24rem, 30vh));
  gap: 2rem;
      grid-template-areas: 'hr' 'tmrw' 'wk';
}

.current-weather__simple {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: simple;
}

.current-weather__pokemon {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: poke;
}

.main__icon--next {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: next;
}

.future-weather__tomorrow {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tmrw;
}

.future-weather__hour {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hr;
}

.future-weather__week {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: wk;
}

.future-weather .extra {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: extra;
}

.headnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headnav__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.current-weather__simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-weather__high-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current-weather__pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.future-weather__hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.future-weather__sunrise, .future-weather__sunset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}

.future-weather__tomorrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.future-weather__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.future-weather__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.future-weather__content--tomorrow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.future-weather .week__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.future-weather .week__high-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.future-weather .hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.future-weather .hour__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form__input {
  width: clamp(20rem, 75vw, 38rem);
  height: 5rem;
  padding-left: 2rem;
  border-radius: 1rem;
  border: .3rem solid;
  background: transparent url("https://api.iconify.design/mdi/magnify.svg?color=white&height=27") no-repeat 97% center;
  font-family: "Inter", sans-serif;
  color: white;
}

.search-form__input::-webkit-input-placeholder {
  color: white;
}

.search-form__input:-ms-input-placeholder {
  color: white;
}

.search-form__input::-ms-input-placeholder {
  color: white;
}

.search-form__input::placeholder {
  color: white;
}

.headnav__icon {
  font-size: clamp(2rem, 9vw, 2.8rem);
}

.sidenav__icon {
  font-size: clamp(1.2rem, 6vw, 3.2rem);
}

.current-weather__icon {
  font-size: clamp(1.2rem, 6vw, 3.2rem);
}

.current-weather__icon--unit {
  position: relative;
  top: -2.8rem;
  left: 0.5rem;
  font-size: clamp(1.5rem, 10vw, 4rem);
  z-index: -1;
}

.current-weather__icon--today {
  font-size: clamp(9rem, 31vw, 12rem);
}

.future-weather__icon--sunrise, .future-weather__icon--sunset {
  font-size: clamp(1.5rem, 4.5vw, 1.8rem);
}

.future-weather__icon--tomorrow {
  font-size: clamp(8rem, 25vw, 10rem);
  margin-top: -2rem;
}

.week__icon,
.hour__icon {
  font-size: clamp(1.5rem, 10vw, 4rem);
}

.main__icon--next {
  font-size: clamp(1.5rem, 10vw, 4rem);
  margin: auto;
  width: 100%;
}

.unit-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: white;
}

.unit-toggle__unit {
  font-weight: 400;
}

.unit-toggle__switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.unit-toggle__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.unit-toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: .3rem solid;
  border-radius: 3.4rem;
}

.unit-toggle__slider::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: .4rem;
  bottom: .4rem;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.unit-toggle__checkbox:checked + .unit-toggle__slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.splash {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url(/img/stormeon_logo_horizontal.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.current-weather__simple {
  text-align: left;
}

.current-weather__temp {
  font-size: clamp(6.7rem, 21vw, 7rem);
  font-weight: 400;
}

.current-weather__high-low > * {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.current-weather__low::before {
  content: '\1F861  ';
}

.current-weather__low::after, .week__low::after {
  content: ' | ';
}

.current-weather__high::after {
  content: ' \1F863';
}

.current-weather__city, .current-weather__date, .current-weather__time {
  padding-bottom: 0.3rem;
}

.current-weather__date, .current-weather__time {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.pokemon__type {
  width: clamp(3rem, 2vw, 4rem);
  margin-bottom: 1rem;
}

.pokemon__advice {
  font-style: italic;
  text-align: center;
}

.pokemon__text {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.pokemon__image {
  width: clamp(20rem, 65vw, 25rem);
}

.main__future-weather > * {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 1.6rem;
  padding: 2rem;
}

.future-weather__header {
  text-align: center;
}

.future-weather__temp {
  font-size: clamp(6.7rem, 21vw, 7rem);
  font-weight: 300;
}

.future-weather__condition {
  font-size: clamp(1.8rem, 6vw, 2.2rem);
  padding-left: 1rem;
}

.future-weather__content {
  margin: auto 0;
}

.future-weather__content--hour, .future-weather__content--week {
  overflow: auto;
  gap: 1rem;
}

.future-weather__content--tomorrow {
  text-align: left;
}

.week__day {
  min-width: 10rem;
}

.week__low::before {
  content: '\1F861 ';
}

.week__high::after {
  content: '\1F863';
}

.week::-webkit-scrollbar {
  display: none;
}

.hour {
  text-align: center;
}

.hour__time {
  min-width: 10rem;
}

.hour::-webkit-scrollbar {
  display: none;
}

.extra {
  text-align: center;
  line-height: 5rem;
}

.pc-extra {
  display: none;
}

.espeon {
  color: #eebeee;
  background: -webkit-gradient(linear, left bottom, left top, from(#7c4b7c), color-stop(#b479b4), color-stop(#7c4b7c), to(#b479b4)) no-repeat fixed;
  background: linear-gradient(to top, #7c4b7c, #b479b4, #7c4b7c, #b479b4) no-repeat fixed;
}

.flareon {
  color: #ffeea3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7734b), color-stop(#d64354), color-stop(#f7734b), to(#d64354)) no-repeat fixed;
  background: linear-gradient(to bottom, #f7734b, #d64354, #f7734b, #d64354) no-repeat fixed;
}

.glaceon {
  color: #95e7ee;
  background: -webkit-gradient(linear, left bottom, left top, from(#383851), color-stop(#549ede), color-stop(#383851), to(#549ede)) no-repeat fixed;
  background: linear-gradient(to top, #383851, #549ede, #383851, #549ede) no-repeat fixed;
}

.jolteon {
  color: #ffff8a;
  background: -webkit-gradient(linear, left bottom, left top, from(#846a2a), color-stop(#cead4b), color-stop(#846a2a), to(#cead4b)) no-repeat fixed;
  background: linear-gradient(to top, #846a2a, #cead4b, #846a2a, #cead4b) no-repeat fixed;
}

.leafeon {
  color: #f5ecd6;
  background: -webkit-gradient(linear, left top, left bottom, from(#319b72), color-stop(#32625a), color-stop(#319b72), to(#32625a)) no-repeat fixed;
  background: linear-gradient(to bottom, #319b72, #32625a, #319b72, #32625a) no-repeat fixed;
}

.umbreon {
  color: #eed453;
  background: -webkit-gradient(linear, left bottom, left top, from(#2a324c), color-stop(#62627a), color-stop(#2a324c), to(#62627a)) no-repeat fixed;
  background: linear-gradient(to top, #2a324c, #62627a, #2a324c, #62627a) no-repeat fixed;
}

.vaporeon {
  color: #93dbf1;
  background: -webkit-gradient(linear, left top, left bottom, from(#107293), color-stop(#104860), color-stop(#107293), to(#104860)) no-repeat fixed;
  background: linear-gradient(to bottom, #107293, #104860, #107293, #104860) no-repeat fixed;
}

@media only screen and (min-width: 730px) {
  .wrapper {
    max-height: 100vh;
  }
  .main {
    width: 75vw;
    height: 90vh;
    -ms-grid-rows: minmax(25rem, 30%) minmax(30rem, 70%);
        grid-template-rows: minmax(25rem, 30%) minmax(30rem, 70%);
    gap: 2rem;
  }
  .main > * {
    width: inherit;
  }
  .main__current-weather {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: clamp(25rem, 27vh, 40rem);
    -ms-grid-columns: 40% 20%;
        grid-template-columns: 40% 20%;
        grid-template-areas: 'simple . poke';
  }
  .main__future-weather {
    height: 50vh;
    -ms-grid-columns: (calc(33% - 1.2rem))[3];
        grid-template-columns: repeat(3, calc(33% - 1.2rem));
    -ms-grid-rows: minmax(25rem, 50%) minmax(25rem, 45%);
        grid-template-rows: minmax(25rem, 50%) minmax(25rem, 45%);
        grid-template-areas: 'tmrw wk wk' 'hr hr extra';
    gap: 2rem;
  }
  .current-weather__simple {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: simple;
  }
  .current-weather__pokemon {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: poke;
  }
  .main__icon--next {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: next;
  }
  .future-weather__tomorrow {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tmrw;
  }
  .future-weather__hour {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: hr;
  }
  .future-weather__week {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: wk;
  }
  .future-weather .extra {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: extra;
  }
  .main__icon--next {
    display: none;
  }
  .headnav__icon:not(.headnav__icon--refresh) {
    z-index: 10;
  }
  .current-weather, .pc-extra {
    position: relative;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 1.6rem;
    padding: 2rem;
  }
  .pokemon {
    padding-right: 5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pokemon__type {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .pokemon__image {
    width: clamp(15rem, 10vw, 17rem);
  }
  .future-weather {
    position: relative;
  }
  .future-weather__temp {
    font-size: clamp(4rem, 3vw, 7rem);
  }
  .future-weather__icon--tomorrow {
    font-size: clamp(5rem, 10vw, 10rem);
  }
  .dropnav {
    width: 20%;
    height: 100%;
    z-index: 3;
  }
  .nav-hide {
    display: block;
  }
  .search-form__input {
    width: clamp(12rem, 18vw, 34rem);
  }
  .search-form__input::-webkit-input-placeholder {
    font-size: clamp(1rem, 0.7vw, 5rem);
  }
  .search-form__input:-ms-input-placeholder {
    font-size: clamp(1rem, 0.7vw, 5rem);
  }
  .search-form__input::-ms-input-placeholder {
    font-size: clamp(1rem, 0.7vw, 5rem);
  }
  .search-form__input::placeholder {
    font-size: clamp(1rem, 0.7vw, 5rem);
  }
  .splash {
    z-index: 2;
    background-position: 30%;
    background-size: 50vw;
  }
  .pc-extra {
    display: -ms-grid;
    display: grid;
    row-gap: 2rem;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .mobile-extra {
    display: none;
  }
}

@media only screen and (max-height: 860px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-height: 750px) {
  html {
    font-size: 40%;
  }
}
/*# sourceMappingURL=main.css.map */