.current-weather {
  &__simple {
    text-align: left;
  }

  &__temp {
    font-size:$xlarge-txt;
    font-weight: $reg;
  }

  &__high-low > * {
    font-size: $small-txt;
  }

  &__low::before {
    content: '\1F861  ';
    @extend %wp;
  }

  &__low::after {
    content: ' | ';
    @extend %wp;
  }

  &__high::after {
    content: ' \1F863';
    @extend %wp;
  }

  &__city {
    padding-bottom: 0.3rem;
  }

  &__date,
  &__time {
    @extend .current-weather__city;
    font-size: $small-txt;
  }

}

.pokemon {
  &__type {
    width: clamp(3rem,2vw,4rem);
    margin-bottom: 1rem;
  }

  &__advice {
    font-style: italic;
    text-align: center;
  }

  &__text {
    font-size: $small-txt;
  }

  &__image {
    width: clamp(20rem,65vw,25rem);
  }
}