.main__current-weather {
  height: 94vh;
}

.current-weather {
  &__simple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    grid-area: simple;
  }
  &__temp {
    font-size: 7rem;
    font-weight: $reg;
  }

  &__unit {
    position: relative;
    top: -2.8rem;
    left: 0.5rem;
    font-size: 3.2rem;
  }

  &__high-low {
    display: flex;
  }

  &__high-low > * {
    font-size: 1.7rem;
  }

  &__low::before {
    content: '\1F861  ';
    @extend %wp;
  }

  &__low::after {
    content: ' | ';
    @extend %wp;
  }

  &__high::after {
    content: ' \1F863';
    @extend %wp;
  }

  &__city {
    padding-bottom: 0.3rem;
  }

  &__date, &__time {
    @extend .current-weather__city;
    font-size: 1.4rem;
  }

  &__icon--today .wi {
    font-size: 12rem;
  }

  &__pokemon {
    grid-area: poke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 5rem;
    grid-area: extra;
  }

  &__icon {
    font-size: 3rem;
  }
}

.wi-raindrop {
  font-size: 4rem;
}

.pokemon {
  &__type {
    width: 3rem;
    margin-bottom: 1rem;
  }

  &__advice {
    font-style: italic;
    text-align: center;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__image {
    width: 25rem;
  }
}

.main__icon {
  &--next {
    margin: auto;
    width: 100%;
    font-size:4rem;
    grid-area: next;
  }
}
