.main__future-weather {
  & > * {
    @extend %glass;
    background: rgba(white, 0.1);
    border: 2px solid rgba(white, 0.15);
    border-radius: 1.6rem;
    padding: 2rem;
  }
}

.future-weather {
  &__header {
    text-align: center;
  }

  &__temp {
    font-size: $xlarge-txt;
    font-weight: $thin;
  }

  &__condition {
    font-size: $med-txt;
    padding-left: 1rem;
  }

  &__temp::after {
    @extend %degree;
  }
}

.future-weather__content {
  margin: auto 0;

  &--hour,
  &--week {
    overflow: auto;
    gap: 1rem;
  }

  &--tomorrow {
    text-align: left;
  }
}

.week {
  &__day {
    min-width: 10rem;
  }

  &__low::before {
    content: '\1F861 ';
  }

  &__low::after {
    @extend .current-weather__low::after;
  }

  &__high::after {
    content: '\1F863';
  }

  &::-webkit-scrollbar{
    display:none;
  }
}

.hour {
  text-align: center;
  

  &__time {
    min-width: 10rem;
  }

  &__temp::after {
    @extend %degree;
  }

  &::-webkit-scrollbar{
    display:none;
  }
}

.extra {
  text-align: center;
  line-height: 5rem;
}

//Extra
.pc-extra {
display:none;
}
