.main__future-weather {
  height: 100vh;

  & > * {
    background: rgba($lf-primary, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba($lf-primary, 0.15);
    padding:2rem;
  }
}

.future-weather {
  &__header {
    text-align: center;
    margin-bottom:1.5rem;
  }

  &__hour {
  }

  &__sun {
    display: flex;
    justify-content: space-between;
  }

  &__sunrise,
  &__sunset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }

  &__content {
    &--tomorrow {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  &__temp {
    font-size: $xlarge-txt;
    font-weight: $thin;
  }

  &__condition {
    font-size: $med-txt;
    padding-left: 1rem;
  }

  &__temp::after {
    @extend %degree;
  }
}

.hour {
  // display:grid;
  grid-template-columns: repeat(24, 10rem);
  overflow:scroll;
  &__temp::after {
    @extend %degree;
  }
}

.week {
  display:grid;
  grid-template-columns: repeat(8, 10rem);
  overflow:scroll;

  &__high-low {
    display: flex;
  }

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__low::before {
    content: '\1F861 ';
  }

  &__low::after {
    @extend .current-weather__low::after;
  }

  &__high::after {
    content: '\1F863';
  }
}
