.normal-fc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area:current;

  .weather {
    .temp {
      font-size: 8rem;
      font-weight: $reg;
    }

    .unit {
      position: relative;
      top: -2.8rem;
      left: .5rem;
      font-size:5rem;
    }

    .high-low {
      display: flex;
    }

    .high-low > *{
        font-size:2rem;
    }

    .low::before {
      content: '\1F861  ';
      @extend %wp;
    }

    .low::after {
      content: ' | ';
      @extend %wp;
    }

    .high::after {
      content: ' \1F863';
      @extend %wp;
    }

    .city{
        padding-bottom:.3rem;
    }

    .date, .time{
        font-size: 1.2rem;
        @extend .city;
    }
  }

  .weather-icon {
      .wi{
          font-size: 12rem;
        //   @extend %border;
      }
  }
}
.poke-fc {
    grid-area:poke;
}

.extra {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 5rem;
  grid-area:extra;

  .iconify, .wi {
    font-size: 3.5rem;
  }
}

.next {
  display:flex;
  justify-content: center;
  grid-area:next;
}
