@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 730px) {
  //Grid Structure
  .wrapper {
    max-height:100vh;
  }
  .main {
    width: 75vw;
    height: 90vh;
    grid-template-rows: minmax(25rem, 30%) minmax(30rem, 70%);
    gap: 2rem;

    & > * {
      width: inherit;
    }

    &__current-weather {
      align-items: center;
      grid-template-columns: 40% 20%;
      grid-template-areas: 'simple . poke';
    }

    &__future-weather {
      grid-template-columns: repeat(3, calc(33% - 1.2rem));
      grid-template-rows: minmax(25rem,50%) minmax(25rem,45%);
      grid-template-areas: 'tmrw wk wk' 'hr hr .';
      gap: 2rem;
    }
  }

  //Grid Areas
  .current-weather {
    &__simple {
      grid-area: simple;
    }

    &__pokemon {
      grid-area: poke;
    }

    &__extra {
      grid-area: extra;
    }
  }

  .main__icon--next {
    grid-area: next;
  }

  .future-weather {
    &__tomorrow {
      grid-area: tmrw;
    }

    &__hour {
      grid-area: hr;
    }

    &__week {
      grid-area: wk;
    }
  }

  //Icons
  .main__icon--next {
    display: none;
  }

  //Current Weather
  .current-weather {
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(white, 0.1);
    border: 2px solid rgba(white, 0.15);
    border-radius: 1.6rem;
    padding:2rem;

    &__extra {
      @extend .current-weather;
      position:absolute;
      top:clamp(54rem,61.7vh,55rem);
      left:67%;
      width:24.5vw;
      height:28vh;
      display:grid;
      row-gap:2rem;
      grid-template-columns: repeat(2,50%);
    }
  }

  .pokemon {
    padding-right: 5rem;
    justify-content: space-between;
    &__type {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    &__image {
      width: clamp(15rem, 10vw, 17rem);
    }
  }
}

.future-weather{
  position: relative;

  &__temp{
    font-size:clamp(4rem, 3vw, 7rem);
  }

  &__icon{
    &--tomorrow{
      font-size:clamp(5rem,10vw,10rem)
    }
  }
}
