.nav{
    position: relative;
    display:flex;
    justify-content: center;
    grid-area: nav;

    &__divider{
        position:absolute;
        right:0;
        top:0;
        display:flex;
        gap:1rem;
    }
}