//Fonts
$inter:'Inter', sans-serif;

//Font weights
$bold: 500;
$reg: 400;
$thin: 300;

//Font sizes
$xlarge-txt: 7rem;
$large-txt: 3.2rem;
$med-txt: 2.2rem;
$small-txt: 1.5rem;

//Icon sizes
$xlarge-i: 12rem;
$large-i: 4rem;
$med-i: 3.2rem;
$small-i: 2.8rem;
$xsmall-i:1.8rem;

//Leafeon Color
$lf-primary: #f5ecd6;
$lf-secondary: #319b72;
$lf-tertiary:#32625a;
$lf-gradient:linear-gradient(to bottom,$lf-secondary,$lf-tertiary,$lf-secondary, $lf-tertiary);

//Sylveon Color
$sv-primary: #ffffff;
$sv-secondary: #e67a91;
$sv-tertiary:#f9c3c6;
$sv-gradient:linear-gradient(to top,$sv-secondary,$sv-tertiary,$sv-secondary,$sv-tertiary);

//Umbreon Color
$ub-primary:#eed453;
$ub-secondary:#2a324c;
$ub-tertiary:#62627a;
$ub-gradient:linear-gradient(to top,$ub-secondary,$ub-tertiary,$ub-secondary,$ub-tertiary);

//Flareon Color
$fl-primary:#ffeea3;
$fl-secondary:#f7734b;
$fl-tertiary:#d64354;
$fl-gradient:linear-gradient(to bottom,$fl-secondary,$fl-tertiary,$fl-secondary,$fl-tertiary);

//Jolteon Color
$jt-primary:#ffff8a;
$jt-secondary:#846a2a;
$jt-tertiary:#cead4b;
$jt-gradient:linear-gradient(to top,$jt-secondary,$jt-tertiary,$jt-secondary,$jt-tertiary);

//Vaporeon Color
$vp-primary:#93dbf1;
$vp-secondary:#107293;
$vp-tertiary:#104860;
$vp-gradient:linear-gradient(to bottom,$vp-secondary,$vp-tertiary,$vp-secondary,$vp-tertiary);

//Glaceon Color
$gc-primary:#95e7ee;
$gc-secondary:#383851;
$gc-tertiary:#549ede;
$gc-gradient:linear-gradient(to top,$gc-secondary,$gc-tertiary,$gc-secondary,$gc-tertiary);

//Espeon Color
$ep-primary:#eebeee;
$ep-secondary:#7c4b7c;
$ep-tertiary:#b479b4;
$ep-gradient:linear-gradient(to top,$ep-secondary,$ep-tertiary,$ep-secondary,$ep-tertiary);

